  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/css/bootstrap-theme.css">
    <!-- <link rel="stylesheet" href="/css/master.css"> -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/view-applications.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="bootstrap.min.css"> -->
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" href="/css/master.css">
		<link rel="stylesheet" href="/css/style.css">
    <title>View Applications Page</title>
    <!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-135189626-1', 'auto');
		ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
  </head>
  <body>
    {{>navbar}}

    <div class="subject-header">
      <h2>APPLICATIONS</h2>
    </div>

		<div class="subject-header-yellow">
      <div class="center">
        <!-- <button id="sortBtn">SORT &#9660;</button> -->
        <span>|</span>
        <!-- <button id="filterBtn">FILTER</button> -->
      </div>
    </div>

		<div class="center">
			<ul>
				{{#each currentApplications}}
				<li><div id="{{id}}" onclick="seeCompany(this.id)" class="text-wrapper">{{name}} - {{position}}</div>
					{{#if favorited}}
					<span><img src="/images/star.png" alt="fav" id="pic+{{id}}" onclick="toggle(this.id)"></span>
					{{else}}
					<span><img src="/images/unfilledstar.png" alt="not fav" id="pic+{{id}}" onclick="toggle(this.id)"></span>
					{{/if}}
				</li>
				{{/each}}
			</ul>
			<!-- <br class="jumboBr">
			<button id="addCoBtn">ADD COMPANY</button> -->
		</div>
	</body>

	<script type="text/javascript">
		function toggle(picID) {
      var isFavorited;
			var pic = document.getElementById(picID).src;

			if (pic.includes("unfilled")) {
  			document.getElementById(picID).src = "/images/star.png";
        isFavorited = true;
  		}
  		else {
  			document.getElementById(picID).src = "/images/unfilledstar.png";
        isFavorited = false;
  		}

			var coID = picID.substr('pic'.length);
			var res = $.get('http://localhost:3000/jobs/' + coID, (result) => {
				console.log(result);
        result.favorited = isFavorited;
        console.log(isFavorited);
			});
		}

		function seeCompany(coID) {
			localStorage.setItem('myStorage', coID);
			window.location.href = '/application';
		}

  </script>
</html>
